body {
	text-align: center;
}
header, .main, footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background-color: #aeaeae;
	border: 1px solid blue;
}
header, footer {
	height: 50px;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;

}
.main {
	height: 300px;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	-o-justify-content: space-around;
	justify-content: space-around;
	align-items: center;
}
header > div, footer > div {
	border: 1px solid green;
	width: 100px;
}
.main > div {
	border: 1px dashed red;
	height: 50px;
}
	
}
header > .item-1 {
	order: 3;
}footer > .item-3 {
	order: -1;
}
@media (max-width:320px) {
	.kitty > img {
		width: 70%;
		motion-path: path('M-150,100 240,100 z');
		// motion-offset: 50%;
		animation: rainbow-kitty 5s infinite linear;
	}
}
@media (min-width:321px) and (max-width:480px) {
	.kitty > img {
		width: 60%;
		motion-path: path('M-150,100 360,100 z');
		// motion-offset: 50%;
		animation: rainbow-kitty 5s infinite linear;
	}
}
@media (min-width:481px) and (max-width:760px) {
	.kitty > img {
		width: 50%;
		motion-path: path('M-150,100 580,100 z');
		// motion-offset: 50%;
		animation: rainbow-kitty 5s infinite linear;
	}
}
@media (min-width:761px) and (max-width:1000px) {
	.kitty > img {
		width: 40%;
		motion-path: path('M-150,100 690,100 z');
		// motion-offset: 50%;
		animation: rainbow-kitty 5s infinite linear;
	}
}
@media (min-width:1001px) and (max-width:1199px) {
	.kitty > img {
		width: 40%;
		motion-path: path('M-150,100 780,100 z');
		// motion-offset: 50%;
		animation: rainbow-kitty 5s infinite linear;
	}
}
@media (min-width:1200px) and (max-width:1480px) {
	.kitty > img {
		width: 40%;
		motion-path: path('M-150,100 1000,100 z');
		// motion-offset: 50%;
		animation: rainbow-kitty 5s infinite linear;
	}
}
@media (min-width:1481px) and (max-width:1660px) {
	.kitty > img {
		width: 30%;
		motion-path: path('M-150,100 1200,100 z');
		// motion-offset: 50%;
		animation: rainbow-kitty 5s infinite linear;
	}
}
@media (min-width:1661px) {
	.kitty > img {
		width: 25%;
		motion-path: path('M-150,100 1500,100 z');
		// motion-offset: 50%;
		animation: rainbow-kitty 5s infinite linear;
	}
}
@keyframes rainbow-kitty {
	0 {
		motion-offset: 0;
	}
	100% {
		motion-offset: 100%
	}
}